.picture {
    background-image: url('sunrisePic.jpg');
    background-attachment: fixed;
    display: flex;
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    /* background-size: contain; */
    position: relative;
    background-size: cover;
    /* background-position: cover; */
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 100%; */
    width: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /* font-family: "Apple Chancery", "Brush Script MT", "Brush Script Std", "cursive";
    font-style: sans-serif; */
    font-weight: 800;
    overflow: hidden;
    /* font-size: 20px; */
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 17px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;

}

.login {
    /* justify-content: space-between; */
    display: flex;
    justify-content: flex-end;
    position: right;
    color: white;
    background-color: Transparent;
    border: none;
    text-decoration: none;
    display: inline-flex;
    /* margin-left: 10rem; */
    /* padding: 2 rem; */
    /* position: absolute;
    top: 8px;
    right: 16px; */ 
}
.about {
    display: flex;
    justify-content: flex-end;
    /* justify-content: space-between; */
    color: white;
    background-color: Transparent;
    border: none;
    text-decoration: none;
    /* margin-right: 7px; */
}

.title {
    /* position: absolute; */
    display: flex;
    text-align: center;
    display: inline-block;
    color: white;
}
.quote {
    display: flex;
    justify-content: flex-start;
    /* position: absolute; */
    bottom: 2px;
    color: white;
    /* left: 16px; */
}

body {
    text-align: center;
    /* font-family: "Apple Chancery", "Brush Script MT", "Brush Script Std", "cursive"; */
    /* font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; */
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 17px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
}